{
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "indentation": 2,
    "max-empty-lines": 2,
    "max-line-length": 120,
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "number-no-trailing-zeros": true,
    "string-quotes": "single",
    "length-zero-no-unit": true,
    "time-no-imperceptible": true,
    "unit-case": "lower",
    "unit-no-unknown": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,
    "value-list-comma-space-after": "always-single-line",
    "declaration-no-important": true,
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "never",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-ignored-properties": true,
    "block-opening-brace-space-before": "always",
    "block-no-empty": true,
    "block-no-single-line": true,
    "selector-max-compound-selectors": 3,
    "selector-no-qualifying-type": true,
    "selector-list-comma-newline-after": "always",
    "selector-no-id": true,
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "no-unknown-animations": true,
    "scss/selector-no-redundant-nesting-selector": true
  }
}
